

body,input,textarea{
	font: 13px  "Trebuchet MS", sans-serif;
}

#chat{
	text-align: left;
	max-width:300px;
}

#chat-messages,
#chat-textarea,
#chat-name {
	border:1px solid #bbb;
}

#chat-name{
	width:100%;
	padding:10px;
	border-bottom:0;
	margin:0;
}

#chat-messages{
	width:100%;
	height:300px;
	padding:10px;
	overflow-y:scroll;
}

#chat-textarea {
	width:100%;
	padding:10px;
	margin:0;
	border-top:0;
	max-width:100%;

}

#chat-status{
	color:#bbb;
}

#chat-name,
#chat-textarea {
	outline:none;
}
